.validate {
  color: white;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  padding: 10%;

  &-title {
    display: flex;
    align-self: center;
  }

  &-header {
    display: flex;
    justify-content: end;
  }
}

.not-found {
  margin: 20px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
