<div class="validate">
    <p-card>
        <h2>{{ certificate?.course?.title}}</h2>
        <p>{{ certificate?.course?.description}}</p>
        <div>
            <span>Conferido a: </span><span>{{ certificate?.student?.name + ' ' + certificate?.student?.surname }}</span>
        </div>
        <hr>
        <div class="validate-issued">
            <div>
                <span>Emitido por: </span><span>{{ certificate?.course?.institution }}</span>
            </div>
            <div>
                <span>Duración: </span><span>{{ certificate?.course?.duration }}</span>
            </div>
            <div>
                <span>Fecha de finalización: </span><span>{{ certificate?.course?.date }}</span>
            </div>
        </div>
        <div class="validate-issued">
            <div>
                <span>Emitido desde: </span><span>{{ formatDate(certificate?.issuedDate || 0) }}</span>
            </div>
            <div>
                <span>Caducidad: </span><span>{{ formatDate(certificate?.expireDate || 0) }}</span>
            </div>
        </div>
        <div>
            <span>hash ID </span><span>{{ certificate?.hash }}</span>
        </div>
        
    </p-card>
</div>