.login {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 95vh;

  &-container {
    width: 500px;
  }

  &-title {
    width: 100%;
    padding: 30px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
}
