<div class="modal-body">
    <form [formGroup]="formReport">
        <div class="flex flex-column gap-2 mb-4">
            <label htmlFor="options" class="form-label">Seleccione tipo de reporte</label>
            <p-dropdown [options]="reportOptions" formControlName="option" optionLabel="option" [filter]="true"
                autoWidth="false" [style]="{'width':'100%'}" [(ngModel)]="selectedOption">
                <ng-template pTemplate="selectedItem">
                    <div>{{selectedOption?.title}}</div>
                </ng-template>

                <ng-template let-dataOptions pTemplate="item">
                    <div class="item">
                        <div>{{dataOptions?.title}}</div>
                    </div>
                </ng-template>
            </p-dropdown>
        </div>
        <div *ngIf="selectedOption?.id === optionsId.certificateStudent" class="flex flex-column gap-2 mb-4">
            <label htmlFor="students" class="form-label">Estudiante</label>
            <p-dropdown [options]="students" formControlName="student" optionLabel="dni" [filter]="true"
                autoWidth="false" [style]="{'width':'100%'}" [(ngModel)]="selectedStudent">
                <ng-template pTemplate="selectedItem">
                    <div>{{selectedStudent?.dni}} | {{selectedStudent?.name}} {{selectedStudent?.surname}}</div>
                </ng-template>

                <ng-template let-dataStudent pTemplate="item">
                    <div class="item">
                        <div>{{dataStudent?.dni}} | {{dataStudent?.name}} {{dataStudent?.surname}}</div>
                    </div>
                </ng-template>
            </p-dropdown>
        </div>
        <div *ngIf="selectedOption?.id === optionsId.certificateCourse || selectedOption?.id === optionsId.studentsCourse"
            class="flex flex-column gap-2 mb-4">
            <label htmlFor="course" class="form-label">Curso</label>
            <p-dropdown [options]="courses" formControlName="course" optionLabel="title" [filter]="true"
                autoWidth="false" [style]="{'width':'100%'}" [(ngModel)]="selectedCourse">
                <ng-template pTemplate="selectedItem">
                    <div>{{selectedCourse?.title}} | {{selectedCourse?.description}} | {{selectedCourse?.date}}</div>
                </ng-template>

                <ng-template let-data pTemplate="item">
                    <div class="item">
                        <div>{{data?.title}} | {{data?.description}} | {{data?.date}}</div>
                    </div>
                </ng-template>
            </p-dropdown>
        </div>
        <div *ngIf="selectedOption?.id === optionsId.courseInstitution" class="flex flex-column gap-2 mb-4">
            <label htmlFor="institutions" class="form-label">Instituciones</label>
            <p-dropdown [options]="institutions" formControlName="institution" optionLabel="institution" [filter]="true"
                autoWidth="false" [style]="{'width':'100%'}" [(ngModel)]="selectedInstitution">
                <ng-template pTemplate="selectedItem">
                    <div>{{selectedInstitution}}</div>
                </ng-template>

                <ng-template let-dataInstitution pTemplate="item">
                    <div class="item">
                        <div>{{dataInstitution}}</div>
                    </div>
                </ng-template>
            </p-dropdown>
        </div>
    </form>
</div>
<div class="modal-footer">
    <p-button label="Descargar" [loading]="config.data.loading" (click)="submit()"
        [disabled]="formReport.invalid"></p-button>
</div>