<div class="card">
    <p-table [value]="students" (sortFunction)="customSort($event)" [customSort]="true" [tableStyle]="{'min-width': '60rem'}">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="idstudent" style="width:5%">id <p-sortIcon field="idstudent"></p-sortIcon></th>
                <th pSortableColumn="name" style="width:10%">Nombre <p-sortIcon field="name"></p-sortIcon></th>
                <th pSortableColumn="surname" style="width:10%">Apellido <p-sortIcon field="surname"></p-sortIcon></th>
                <th pSortableColumn="dni" style="width:10%">Cedula <p-sortIcon field="dni"></p-sortIcon></th>
                <th pSortableColumn="country" style="width:10%">Nacionalidad <p-sortIcon field="country"></p-sortIcon></th>
                <th pSortableColumn="phone" style="width:10%">Teléfono <p-sortIcon field="phone"></p-sortIcon></th>
                <th pSortableColumn="direction" style="width:10%">Dirección<p-sortIcon field="direction"></p-sortIcon></th>
                <th style="width:3%">Editar <p-sortIcon field="edit"></p-sortIcon></th>
                <th style="width:3%">Eliminar <p-sortIcon field="delete"></p-sortIcon></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-student>
            <tr>
                <td>{{student.idstudent}}</td>
                <td>{{student.name}}</td>
                <td>{{student.surname}}</td>
                <td>{{student.dni}}</td>
                <td>{{student.country}}</td>
                <td>{{student.phone}}</td>
                <td>{{student.direction}}</td>
                <td>
                    <p-button icon="pi pi-file-edit" styleClass="p-button-rounded" (onClick)="handleModify(student)"></p-button>
                </td>
                <td>
                    <p-button icon="pi pi-trash" styleClass="p-button-rounded" (onClick)="handleDelete(student)"></p-button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>