<div class="modal-body">
    <form [formGroup]="formStudent">
        <div class="flex flex-column gap-2 mb-4">
            <label htmlFor="name" class="form-label">Nombre</label>
            <input type="text" pInputText class="form-control" id="name" placeholder="" formControlName="name">
        </div>
        <div class="flex flex-column gap-2 mb-4">
            <label htmlFor="surname" class="form-label">Apellido</label>
            <input type="text" pInputText class="form-control" id="surname" placeholder="" formControlName="surname">
        </div>
        <div class="flex flex-column gap-2 mb-4">
            <label htmlFor="dni" class="form-label">Identificacion</label>
            <input type="text" pInputText class="form-control" id="dni" placeholder="" formControlName="dni">
            <span *ngIf="dniInUse" style="color: red;">Identificación ya registrada.</span>
            <span *ngIf="invalidCi && formStudent.controls['dni'].touched"  style="color: red;">Identificación no es una cédula ecuatoriana.</span>
        </div>
        <div class="flex flex-column gap-2 mb-4">
            <label htmlFor="country" class="form-label">Nacionalidad</label>
            <input type="text" pInputText class="form-control" id="country" placeholder="" formControlName="country">
        </div>
        <div class="flex flex-column gap-2 mb-4">
            <label htmlFor="direction" class="form-label">Teléfono</label>
            <input type="text" pInputText class="form-control" id="phone" placeholder="" formControlName="phone">
        </div>
        <div class="flex flex-column gap-2 mb-4">
            <label htmlFor="direction" class="form-label">Dirección</label>
            <input type="text" pInputText class="form-control" id="direction" placeholder="" formControlName="direction">
        </div>
    </form>
</div>
<div class="modal-footer">
    <p-button *ngIf="!edit" label="Registrar" [loading]="config.data.loading" (click)="submit()" [disabled]="formStudent.invalid"></p-button>
    <p-button *ngIf="edit" label="Editar" [loading]="config.data.loading" (click)="submit()" [disabled]="formStudent.invalid"></p-button>
</div>