<div class="card">
    <p-megaMenu>
        <div class="flex justify-content-between">
            <button type="button" pButton icon="pi pi-bars" (click)="toggleSideBar()"></button>
            <div class="flex">
                <img src="../../../assets/ethereum-eth-logo-diamond.svg" height="40" class="mr-2" alt="logo" />
                <h2 *ngIf="showStudents">Estudiantes</h2>
                <h2 *ngIf="showCourses">Cursos</h2>
                <h2 *ngIf="showCertificates">Certificados</h2>
            </div>
            <div class="card flex justify-content-center gap-2">
                <p-toast></p-toast>
                <p-confirmPopup></p-confirmPopup>
                <p-button icon="pi pi-user" (click)="confirm($event)"
                    styleClass="p-button-rounded p-button-info p-button-outlined"></p-button>
            </div>
        </div>
    </p-megaMenu>
</div>

<div class="flex">
    <div class="card flex justify-content-left">
        <nav></nav>
        <section class="container">
            <aside [ngClass]="{'expanding': isExpanding}">
                <p-menu [model]="items"></p-menu>
            </aside>
        </section>
    </div>

    <div class="init-buttons-container" *ngIf="!hideButtons">
        <div class="init-buttons">
            <p-button styleClass="p-button-raised p-button-primary" (onClick)="showCertificateList()">
                <i class="pi pi-fw pi-book"></i>
                <div class="flex-column">
                    <span class="ml-2 font-bold">Certificados</span>
                    <br>
                    <span class="m-4">Visualiza certificados emitidos de estudiantes</span>
                </div>
            </p-button>
            <p-button styleClass="p-button-raised p-button-secondary" (onClick)="showStudentList()">
                <i class="pi pi-fw pi-user"></i>
                <div class="flex-column">
                    <span class="ml-2 font-bold">Estudiantes</span>
                    <br>
                    <span class="m-4">Gestionar estudiantes para poder certificarlos</span>
                </div>
            </p-button>
            <p-button styleClass="p-button-raised p-button-success" (onClick)="showCoursesList()">
                <i class="pi pi-fw pi-file-edit"></i>
                <div class="flex-column">
                    <span class="ml-2 font-bold">Plantillas</span>
                    <br>
                    <span class="m-4">Gestionar plantiullas de cursos para generar certificados</span>
                </div>
            </p-button>
            <p-button styleClass="p-button-raised p-button-warning" (onClick)="showReportForm()">
                <i class="pi pi-fw pi-list"></i>
                <div class="flex-column">
                    <span class="ml-2 font-bold">Reportes</span>
                    <br>
                    <span class="m-4">Genera y descarga reportes en formato csv</span>
                </div>
            </p-button>
        </div>
    </div>

    <div class="flex-grow-1" *ngIf="hideButtons">
        <div class="table-list">
            <app-students-list [students]="students" *ngIf="showStudents" (modify)="showStudentFormEdit($event)"
                (delete)="confirmDeleteStudent($event)"></app-students-list>
            <app-course-list [courses]="courses" *ngIf="showCourses" (modify)="showCourseFormEdit($event)"
                (delete)="confirmDeleteCourse($event)"></app-course-list>
            <app-certificate-list [certificates]="certificates" *ngIf="showCertificates"
                (viewCertificate)="showCertificateImage($event)"></app-certificate-list>
            <p-toast></p-toast>
        </div>
    </div>
    <div>
        <p-dialog [(visible)]="showSuccess" position="bottom-right" header="Resultado">
            <p>
                El registro se ha creado exitosamente.
            </p>
        </p-dialog>
        <p-dialog [(visible)]="showSuccessModify" position="bottom-right" header="Resultado">
            <p>
                El registro se ha actualizado exitosamente.
            </p>
        </p-dialog>
        <p-dialog [(visible)]="showSuccessDelete" position="bottom-right" header="Resultado">
            <p>
                El registro se ha eliminado exitosamente.
            </p>
        </p-dialog>
        <p-dialog [(visible)]="showNotAllowed" position="bottom-right" header="Advertencia">
            <p>
                Existe al menos un certificado emitido con el registro seleccionado.
            </p>
        </p-dialog>
    </div>
    <div class="card flex justify-content-center gap-2">
        <p-toast></p-toast>
        <p-confirmDialog key="deleteDialog" [style]="{width: '50vw'}"></p-confirmDialog>
    </div>
</div>