<div class="card">
    <p-megaMenu [model]="items" styleClass="flex">
        <ng-template pTemplate="start">
            <img src="../../../assets/ethereum-eth-logo-diamond.svg" height="40" class="mr-2" alt="logo" />
        </ng-template>
        <div class="card flex justify-content-center gap-2">
            <p-toast></p-toast>
            <p-confirmPopup></p-confirmPopup>
            <p-button icon="pi pi-user" (click)="confirm($event)" styleClass="p-button-rounded p-button-info p-button-outlined"></p-button>
        </div>

    </p-megaMenu>
</div>
<div class="table-list">
    <app-students-list [students]="students" *ngIf="showStudents"></app-students-list>
    <app-course-list [courses]="courses" *ngIf="showCourses"></app-course-list>
    <app-certificate-list [certificates]="certificates" *ngIf="showCertificates"></app-certificate-list>
    <p-toast></p-toast>
</div>
<p-dialog [(visible)]="showSuccess" position="bottom-right" header="Resultado"
    [contentStyle]="{ background: 'greenn' }">
    <p>
        El registro se ha creado exitosamente.
    </p>
</p-dialog>